{# templates/security/login.html.twig #} {% extends 'base.html.twig' %} {% block
    title %}Log in!{% endblock %} {% block body %}
    <div class="login">
        <h1 class="login-title">Gobooking</h1>
        <a href="{{ path('registration') }}" class="login-button login-button__white">S'inscrire</a>
                        <div class="login-formwrapper">
                                <form class="form-horizontal" role="form" method="post">
                                    {% if error %}
                                        <div class="alert alert-danger">
                                            {{ error.messageKey|trans(error.messageData, 'security') }}
                                        </div>
                                    {% endif %}

                                    <div class="login-onboarding">
                                        <div class="login-onboarding-logo"><img src="{{ asset('images/logo_gobelins.png') }}" alt="Logo Gobelins!"/></div>
                                        <p>Réservez votre matériel facilement et rapidement en quelques clics</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-md-4 control-label"
                                        >E-Mail Address</label
                                        >
                                        <div class="col-md-12">
                                            <input
                                                    placeholder="Adresse e-mail Gobelins"
                                                    id="inputEmail"
                                                    type="email"
                                                    class="form-control"
                                                    name="email"
                                                    value="{{ last_username }}"
                                                    required
                                                    autofocus
                                            />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-md-4 control-label"
                                        >Password</label
                                        >
                                        <div class="col-md-12">
                                            <input
                                                    placeholder="Mot de passe"
                                                    id="inputPassword"
                                                    type="password"
                                                    class="form-control"
                                                    name="password"
                                                    required
                                            />
                                        </div>
                                    </div>
                                    <input
                                            type="hidden"
                                            name="_csrf_token"
                                            value="{{ csrf_token('authenticate') }}"
                                    />
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-btn fa-sign-in"></i> Se connecter
                                            </button>
                                        </div>
                                    </div>
                                </form>
                        </div>
    </div>

{% endblock %}