{% extends 'administration/base.html.twig' %}
{% trans_default_domain "equipement" %}

{% block title %}{% trans %}Equipments{% endtrans %}{% endblock %}

    {% block admincontent %}

        <div class="dashboard-header">
            <h1 class="dashboard-title">{% trans %}Equipments{% endtrans %}</h1>
            <a class="basic-button" href="{{ path('equipement_new') }}">{% trans %}Add an equipment{% endtrans %}</a>
        </div>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}State{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Serial number{% endtrans %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for equipement in equipements %}
            <tr>
                <td>{{ equipement.state }}</td>
                <td>{{ equipement.name }}</td>
                <td>{{ equipement.serialNumber }}</td>
                <td>
                    <a href="{{ path('equipement_show', {'id': equipement.id}) }}"><img src="{{ asset('images/icon_show.svg') }}" alt="Show"></a>
                    <a href="{{ path('equipement_edit', {'id': equipement.id}) }}"><img src="{{ asset('images/icon_edit.svg') }}" alt="Edit"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{% trans %}No equipment has been added{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
