{% extends 'base.html.twig' %}

{% block title %}Equipement{% endblock %}

{% block body %}
    <h1>Equipement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipement.id }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ equipement.state }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ equipement.description }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ equipement.name }}</td>
            </tr>
            <tr>
                <th>SerialNumber</th>
                <td>{{ equipement.serialNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('equipement_index') }}">back to list</a>

    <a href="{{ path('equipement_edit', {'id': equipement.id}) }}">edit</a>

    {{ include('equipement/_delete_form.html.twig') }}
{% endblock %}
