{% extends 'administration/base.html.twig' %}
{% trans_default_domain "administration" %}

{% block title %}{{ equipement.name }}{% endblock %}

{% block admincontent %}
    <div class="dashboard-header">
        <h1 class="dashboard-title">Equipment detail</h1>
        <a class="basic-button" href="{{ path('equipement_index') }}">{% trans %}Back to list{% endtrans %}</a>
    </div>

    <div class="equipment">
        <img src="/uploads/medias/{{ equipement.media.path }}" class="equipment-photo">
        <div class="equipment-desc">
            <div class="equipment-desc-title">
                {{ equipement.name }} <span></span>
            </div>
            <div class="equipment-desc-details">
                <span>Catégorie: Szz</span><span>Num. série: {{ equipement.serialNumber }}</span>
            </div>
            <div class="equipment-desc-description">
                <p>{{ equipement.description }}</p>
            </div>
            <div class="equipment-desc-actions">
                <a class="basic-button" href="{{ path('equipement_edit', {'id': equipement.id}) }}">{% trans %}Edit{% endtrans %}</a>
                {{ include('equipement/_delete_form.html.twig') }}
            </div>
        </div>
    </div>


{% endblock %}
