{% trans_default_domain "booking" %}

<div class="row">

    <div class="col">
        {{ form_start(form) }}
        <div class="row row-cols-md-3">
            <div class="col-md-6 col-sm-12 d-flex justify-content-center">
                {{ form_row(form.loaningDate) }}
            </div>
            <div class="col-md-6 col-sm-12 d-flex justify-content-center">
                {{ form_row(form.returnDate) }}
            </div>
        </div>

        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-dark" type="submit">{{ button_label|default('Validate the dates')|trans }}</button>
        </div>

        {{ form_end(form) }}
    </div>

</div>