{% trans_default_domain "booking" %}
    <div class="col">
        {{ form_start(form) }}
            <div>
                {{ form_row(form.loaningDate) }}
            </div>
            <div>
                {{ form_row(form.returnDate) }}
            </div>

        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-dark" type="submit">{{ button_label|default('Validate the dates')|trans }}</button>
        </div>

        {{ form_end(form) }}
    </div>
