{% trans_default_domain "booking" %}

<div class="row">

    <div class="col-12">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{% trans %}Category(ies){% endtrans %}</h5>
                        <p class="card-text">
                            <ul class="list">
                                {% for cat in categories %}
                                    <li>{{ cat.name }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{% trans %}Equipment(s){% endtrans %}</h5>
                        <p class="card-text">
                            <ul class="list">
                                {% for eq in booking.getEquipments() %}
                                    <li>{{ eq.name }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{% trans %}Date(s){% endtrans %}</h5>
                        <p class="card-text">
                            {% trans %}From{% endtrans %} {{ booking.getLoaningDate()|date("m/d/Y") }}<br>
                            {% trans %}to{% endtrans %} {{ booking.getReturnDate()|date("m/d/Y") }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="col-12">

    <div class="booking-recap-buttons d-flex justify-content-center mt-3">
        <a class="basic-button booking-recap-buttons-cancel" href="{{ path('booking_cancel', {'id': booking.getId()}) }}">{{ button_label|default('Cancel my booking')|trans }}</a>
        {% if workflow_can(booking, 'to_review') %}
            <a class="basic-button booking-recap-buttons-confirm" href="{{ path('booking_save', {'id': booking.getId()}) }}">{{ button_label|default('Validate my booking')|trans }}</a>
        {% endif %}
    </div>
</div>

</div>