{# templates/registration/index.html.twig #}
{% extends 'base.html.twig' %}
{% trans_default_domain "global" %}

{% block body %}
<div class="homepage">
    <div class="homepage-button homepage-button__white">
        <a href="{{ path('app_logout') }}">Se déconnecter</a>
    </div>

    <div class="homepage-onboarding">
        Bienvenue {{ app.user.firstname }} {{ app.user.lastname }},
        <p>Que voulez-vous faire sur Gobooking ?</p>
    </div>

    <div class="homepage-buttons">
        <a href="{{ path('booking_new_step1') }}">{% trans %}Booking equipments{% endtrans %}</a>
        <a href="{{ path('booking_list') }}">{% trans %}See my bookings{% endtrans %}</a>
    </div>
</div>

{% endblock %}