{% extends 'administration/base.html.twig' %}
{% trans_default_domain "category" %}

{% block title %}{% trans %}Categories{% endtrans %}{% endblock %}

{% block admincontent %}
    <div class="dashboard-header">
        <h1 class="dashboard-title">{% trans %}Categories{% endtrans %}</h1>
        <a class="basic-button" href="{{ path('category_new') }}">{% trans %}Add a category{% endtrans %}</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}N°{% endtrans %}</th>
                <th>{% trans %}Nom{% endtrans %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>#{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}"><img src="{{ asset('images/icon_show.svg') }}" alt="Show"></a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}"><img src="{{ asset('images/icon_edit.svg') }}" alt="Edit"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{% trans %}No category has been added{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
