{% extends 'administration/base.html.twig' %}
{% trans_default_domain "category" %}

{% block title %}{% trans %}Categories{% endtrans %}{% endblock %}

{% block admincontent %}
    <h1>{% trans %}Categories{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Number{% endtrans %}</th>
                <th>{% trans %}Nom{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>#{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}">{% trans %}Look at{% endtrans %}</a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}">{% trans %}Edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{% trans %}No category has been added{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}">{% trans %}Add a category{% endtrans %}</a>
{% endblock %}
