{% extends 'base.html.twig' %}
{% trans_default_domain "booking" %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <h1>{% trans %}Bookings{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Number{% endtrans %}</th>
                <th>{% trans %}Equipments{% endtrans %}</th>
                <th>{% trans %}Loaning date{% endtrans %}</th>
                <th>{% trans %}Return date{% endtrans %}</th>
                <th>{% trans %}Status{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.equipments }}</td>
                <td>{{ booking.loaningDate ? booking.loaningDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.returnDate ? booking.returnDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.status }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}">show</a>
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('booking_new') }}">Create new</a>
{% endblock %}
