{# templates/administration/base.html.twig #}
{% trans_default_domain "administration" %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Administration{% endblock %}</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="admin">
<div class="sidebar">
    <div class="sidebar-header">
        <img src="{{ asset('images/logo_gobelins.png') }}" class="sidebar-header-logo">
        <div class="sidebar-header-name">{{ app.user.firstname }} {{ app.user.lastname }}</div>
    </div>

    <nav class="sidebar-nav">
        <ul>
            <li class="{{ app.request.pathinfo == ('/administration/') ? 'sidebar-nav-item-active sidebar-nav-item' : 'sidebar-nav-item' }}"><a href="{{ path('administration_index') }}">{% trans %}Home{% endtrans %}</a></li>
            <li class="{{ app.request.pathinfo == ('/administration/reservations/') ? 'sidebar-nav-item-active sidebar-nav-item' : 'sidebar-nav-item' }}"><a href="{{ path('booking_index') }}">{% trans %}Bookings{% endtrans %}</a></li>
            <li class="{{ app.request.pathinfo == ('/administration/materiel/') ? 'sidebar-nav-item-active sidebar-nav-item' : 'sidebar-nav-item' }}"><a href="{{ path('equipement_index') }}">{% trans %}Equipments{% endtrans %}</a></li>
            <li class="{{ app.request.pathinfo == ('/administration/materiel/categories/') ? 'sidebar-nav-item-active sidebar-nav-item' : 'sidebar-nav-item' }}"><a href="{{ path('category_index') }}">{% trans %}Categories{% endtrans %}</a></li>
            <li class="{{ app.request.pathinfo == ('/administration/utilisateurs/') ? 'sidebar-nav-item-active sidebar-nav-item' : 'sidebar-nav-item' }}"><a href="{{ path('user_index') }}">{% trans %}Users{% endtrans %}</a></li>
        </ul>
    </nav>

</div>
    <div class="admin-content">
        {% block admincontent %}
        {% endblock %}
    </div>
 {% block javascripts %}{% endblock %}
</body>
</html>